(
    recipes: [
        // just walls by default
        Block (( 
            width: 20, height: 0.2, pose: ( position: (0, 5) ), is_static: true,
        )),
        Block ((
            width: 20, height: 0.2, pose: ( position: (0, -5) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 10, pose: ( position: (10, 0) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 10, pose: ( position: (-10, 0) ), is_static: true,
        )),
        // ..but add in a tree or a few to test graphics
        BackgroundTree (
            pose: ( position: (0, -1), depth: 1.0 ), start_time: 0,
        ),
        BackgroundTree (
            pose: ( position: (7, -1.5), depth: 3.0 ), start_time: 2,
        ),
        BackgroundTree (
            pose: ( position: (-7, -2), depth: 5.0 ), start_time: 4,
        ),
	BackgroundWall(left: -15, top: 10, right: 15, bottom: -10, depth: 10),
    ]
)
