(
    gravity: (0.0, 0.0),
    recipes: [
        Oscillator ( position: (0.0, 4.0), target_length: 2.0, begin_length: 3.0, compliance: 1.0 ),
        Oscillator ( position: (0.0, 2.0), target_length: 3.0, begin_length: 2.0, compliance: 0.5 ),
    ]
)