(
    spawn_zone: ( min: (x: -30, y: 5), max: (x: 30, y: 15) ),
    recipes: [
        Player (( position: (-7, 3) )),
        RopeConnectedBlocks(
            block1: ( pose: ( position: (-7, 2)), is_static: true, ),
            offset1: (0.55, 0.55),
            block2: ( pose: ( position: (-3, 2)), is_static: false, ),
            offset2: (-0.55, 0.55),
        ),
        RopeConnectedBlocks(
            block1: ( pose: ( position: (-3, -2)), is_static: true, ),
            offset1: (0.55, -0.2),
            block2: ( pose: ( position: (3, -2)), is_static: true, ),
            offset2: (-0.55, -0.2),
        ),
        Capsule(( pose: ( position: ( -1.2, 0.5 ), rotation: Deg(30)), length: 0.8, radius: 0.15 )),
        Capsule(( pose: ( position: ( 1.0, 1 ), rotation: Deg(-17)), length: 0.5, radius: 0.3 )),
        Capsule(( pose: ( position: ( 0, 2 ), rotation: Deg(85)), length: 1.0, radius: 0.3 )),
        RopeConnectedBlocks(
            block1: ( pose: ( position: (4.0, 3)), is_static: false, ),
            offset1: (0.55, 0.55),
            block2: ( pose: ( position: (7.0, 3)), is_static: false, ),
            offset2: (-0.55, 0.55),
        ),
        Capsule(( pose: ( position: ( 5.0, 2.5 ), rotation: Deg(90)), length: 0.5, radius: 0.2, is_static: true )),
        Capsule(( pose: ( position: ( 6.0, 2.5 ), rotation: Deg(90)), length: 0.5, radius: 0.2, is_static: true )),
        // walls
        Block ((
            width: 35, height: 0.2, pose: ( position: (-35, -5) ), is_static: true,
        )),
        Block ((
            width: 35, height: 0.2, pose: ( position: (35, -5) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 50, pose: ( position: (50, 20) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 50, pose: ( position: (-50, 20) ), is_static: true,
        )),
        // ramps
        Block ((
            width: 6, height: 0.2, pose: ( position: (-15.1, -3.5), rotation: Deg(30) ), is_static: true,
        )),
        Block ((
            width: 6, height: 0.2, pose: ( position: (15.1, -3.5), rotation: Deg(-30) ), is_static: true,
        )),
        RopeConnectedBlocks (
            block1: ( width: 6, height: 0.2, pose: ( position: (-10, -3.5), rotation: Deg(-30) ), is_static: true ),
            offset1: (3.1, 0),
            block2: ( width: 6, height: 0.2, pose: ( position: (10, -3.5), rotation: Deg(30) ), is_static: true ),
            offset2: (-3.1, 0),
        ),
	BackgroundWall(left: -15, top: 20, right: 15, bottom: -10, depth: 10),
	BackgroundWall(left: -50, top: 20, right: -20, bottom: -10, depth: 10),
	BackgroundWall(left: 20, top: 20, right: 50, bottom: -10, depth: 10),
    ],
)
