(
    recipes: [
        RopeConnectedBlocks(
            block1: ( pose: ( position: (-3, 2)), is_static: true, ),
            offset1: (0.55, 0.55),
            block2: ( pose: ( position: (0, 2)), is_static: true, ),
            offset2: (-0.55, -0.55),
        ),
        // walls
        Block (( 
            width: 20, height: 0.2, pose: ( position: (0, 5) ), is_static: true,
        )),
        Block ((
            width: 20, height: 0.2, pose: ( position: (0, -5) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 10, pose: ( position: (10, 0) ), is_static: true,
        )),
        Block ((
            width: 0.2, height: 10, pose: ( position: (-10, 0) ), is_static: true,
        )),
    ],
)
