[
    Player ((
        transform: ( position: (-7, -4.5) ),
    )),
    // stack of blocks
    DynamicBlock (( transform: ( position: (-3, 3.5) ))),
    DynamicBlock (( transform: ( position: (-3, 2.5) ))),
    DynamicBlock (( transform: ( position: (-3, 1.5) ))),
    DynamicBlock (( transform: ( position: (-3, 0.5) ))),
    DynamicBlock (( transform: ( position: (-3, -0.5) ))),
    DynamicBlock (( transform: ( position: (-3, -1.5) ))),
    DynamicBlock (( transform: ( position: (-3, -2.5) ))),
    DynamicBlock (( transform: ( position: (-3, -3.5) ))),
    // ramp to test static friction
    StaticBlock ((
        width: 8, height: 0.2, transform: ( position: ( 6.5, -1 ), rotation: Deg(20) ),
    )),
    StaticBlock ((
        width: 3.1, height: 0.2, transform: ( position: (2.05, -3.65), rotation: Deg(60) ),
    )),
    DynamicBlock (( transform: ( position: (5, -1), rotation: Deg(20) ))),
    Ball ( radius: 0.4, position: ( 7, 0 ) ),
    Ball ( radius: 0.6, position: ( 9, 1 ) ),
    // walls
    StaticBlock (( 
        width: 20, height: 0.2, transform: ( position: (0, 5) ),
    )),
    StaticBlock ((
        width: 20, height: 0.2, transform: ( position: (0, -5) ),
    )),
    StaticBlock ((
        width: 0.2, height: 10, transform: ( position: (10, 0) ),
    )),
    StaticBlock ((
        width: 0.2, height: 10, transform: ( position: (-10, 0) ),
    )),
]